streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb # vector database for managing and quering high-dimensional vectors commony used in ML and AI applications such as embeddings from LLMs
